/* Mixins */
/*Content*/
* {
  font-family: 'Open Sans', sans-serif; }

.title {
  text-align: center;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: bold;
  letter-spacing: 3px; }

hr {
  width: 30px; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif; }

/*Navbar*/
.page {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 100%;
  position: fixed;
  /* Stay in place */
  z-index: 10;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgba(255, 231, 135, 0.7);
  overflow-x: hidden;
  /* Disable horizontal scroll */
  overflow-y: hidden;
  /* Disable horizontal scroll */ }

.menuContent {
  position: relative;
  top: 25%;
  /* 25% from the top */
  width: 100%;
  /* 100% width */
  text-align: center;
  /* Centered text/links */
  margin-top: -100px;
  /* 30px top margin to avoid conflict with the close button on smaller screens */ }
  .menuContent a {
    display: block;
    text-transform: uppercase;
    font-size: 2em;
    text-decoration: none;
    color: inherit;
    margin: 10%; }

#hamburger {
  position: fixed;
  top: 0;
  right: 20px;
  z-index: 9999;
  width: 40px;
  height: 80px; }

.burgerBars {
  position: absolute;
  height: 5%;
  left: 0px;
  right: 0px;
  opacity: 1;
  background: white; }
  .burgerBars:nth-child(1) {
    top: 20%; }
  .burgerBars:nth-child(2) {
    top: 40%; }
  .burgerBars:nth-child(3) {
    top: 60%; }

#hamburger:hover > * {
  background: pink;
  cursor: pointer; }

/*Cover*/
.Cover-panel {
  position: relative;
  height: 800px;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.logo {
  height: 250px;
  width: 100%;
  background-image: url("http://i.imgur.com/MXt4aEt.png");
  background-size: 500px 264px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -100px; }

/* Panel mixins */
/*About*/
.About-panel {
  height: 100%;
  border: 2px solid black;
  margin: 20px;
  background-color: "none";
  padding: 100px 300px;
  text-align: center; }

/*Showcase*/
.Showcase-panel {
  height: 100%;
  border: 2px solid black;
  margin: 20px;
  background-color: #717163; }

/*Contact Me*/
.Contact-panel {
  height: 100%;
  border: 2px solid black;
  margin: 20px;
  background-color: #CFCDCD; }

/*Education*/
.Education-panel {
  text-align: center;
  background-image: url("https://static.pexels.com/photos/7100/iphone-desk-laptop-notebook.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden; }
  .Education-panel > div:first-child {
    width: 30%;
    height: 430px;
    float: left;
    background-color: white;
    padding: 0 60px; }
    .Education-panel > div:first-child h1 {
      text-align: left;
      margin-bottom: 0;
      padding-top: 20px;
      padding-bottom: 10px;
      text-transform: uppercase;
      font-family: 'Archivo Narrow', sans-serif;
      font-weight: bold;
      letter-spacing: 3px; }
    .Education-panel > div:first-child ul {
      text-align: left; }
      .Education-panel > div:first-child ul p {
        font-family: 'Open Sans', sans-serif;
        font-weight: bolder;
        margin: 0;
        text-transform: uppercase; }
      .Education-panel > div:first-child ul > div {
        padding: 10px;
        border: 2px solid white; }
        .Education-panel > div:first-child ul > div:hover {
          border: 2px solid black;
          cursor: pointer; }
  .Education-panel > div {
    width-left: 30%;
    height: 430px;
    background-color: rgba(0, 0, 0, 0.4); }
    .Education-panel > div h3 {
      color: white; }

/*# sourceMappingURL=App.css.map */
